html, body {
    margin: 1; /* https://i.stack.imgur.com/UHD7W.gif */
    padding: 1; 
}

.bar-chart {
    background-color: #C7D9D9;
    }
	
.bar {
 fill: #115D8C;
 }
 
 .svg-container {
    background-color: #FFC988;
    }
	
	
